src/__pycache__
test
test5K
test10K
testFull
test50K
corpus/
!test/scripts

train_separate/*.vocab
train_separate/debug

train_with_align/*.vocab
train_with_align/res_voc
train_with_align/debug

train_separate_test

toy_katakana
toydata_large

